
body, html {
    margin: 0;
    padding: 0;
    width: 100%; 
  }
  
  .course-details-dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; 
    background-color: white;
    border: 1px solid #FDAF7B; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    z-index: 1;
    width: 325px; 
    height: 384px; 
    border-radius: 10px; 
  }
  
  .card-container:hover .course-details-dialog {
    display: block;
  }
  
  .left-position {
    right: unset;
    left: 0;
  }
  
  
  .course-details-dialog:before {
    display: none;
  }
  
  
  .course-details-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .course-details-content p {
    font-size: 14px;
    color: black;
  }
  
  .course-details-content .title {
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 8px; 
  }
  
  .course-details-content .level {
    margin-top: 1px; 
  }
  
  
  .info {
    display: flex;
    align-items: center; 
  }
  
  .info p {
    margin-right: 10px; 
  }
  
  .price {
    margin-left: auto; 
  }
  
  
  .add-to-cart-button {
    background-color: #ffb300;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px; 
    margin-left: auto;  
    margin-right: auto; 
    display: block; 
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  
  
  .level-box {
    display: inline-block;
    background-color: #FDAF7B; 
    color: #BE7B72; 
    border: 2px solid #824D74; 
    padding: 1px 10px;
    border-radius: 5px;
  
    width: fit-content;
    margin-right: 10px; 
  }/* CarouselCard.css */

.carousel-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .carousel-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .carousel-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .carousel-card p {
    font-size: 14px;
    color: #666;
  }
  
  .carousel-card .button-container {
    margin-top: 20px;
  }
  
  .carousel-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .carousel-card button:hover {
    background-color: #0056b3;
  }
  
  
  .green-button {
    background-color: green;
    color: white;
  }
  
  .red-button {
    background-color: red;
    color: white;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
  }
  
  .black-button {
    background-color: black;
    color: white;
  }