.filter-container {
    margin-bottom: 20px;
  }
  
  .filter-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Arial, sans-serif; /* Example font family */
    font-size: 16px; /* Example font size */
  }
  
  .toggle-subjects-button,
  .toggle-levels-button,
  .toggle-reviews-button {
    display: inline-block; /* Ensure buttons are displayed inline */
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .toggle-subjects-button button,
  .toggle-levels-button button,
  .toggle-reviews-button button {
    background-color: #1a5e18;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for background color */
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  }
  
  .toggle-subjects-button button:hover,
  .toggle-levels-button button:hover,
  .toggle-reviews-button button:hover {
    background-color: #ba6e6e;
    transform: scale(1.05); /* Scale up the button slightly on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow effect on hover */
  }
  
  
  
  .filter-options {
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter-option {
    background-color: #b1cab9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .filter-options span:hover,
  .filter-options button:hover { /* Added button element */
    background-color: #f0f0f0; /* Lighter background on hover */
  }
  
  .applied-filter {
    display: inline-block;
    background-color: #a7d2ff;
    color: #000000;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-family: Arial, sans-serif; /* Example font family */
    font-size: 14px; /* Example font size */
  }
  
  .applied-filter button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
    font-family: Arial, sans-serif; /* Example font family */
    font-size: 14px; /* Example font size */
  }
  
  .applied-filter button:hover {
    text-decoration: underline;
    color: #8d4d4d;
  }
  
  .clear-all-button button {
    background-color: transparent;
    border: none;
    color: #b46767;
    cursor: pointer;
    font-family: Arial, sans-serif; /* Example font family */
    font-size: 14px; /* Example font size */
  }
  
  .clear-all-button button {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .clear-all-button button:hover {
    text-decoration: underline;
  }
  
  .toggle-reviews-button {
    margin-bottom: 10px;
  }
  
  
  .filter-title{
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .filter-button{
    font-size: 30px;
  }
  .filter-title::before {
    content: '\2022'; 
    margin-right: 5px; 
    color: #333;
  }