.recommended-courses-container {
    margin-top: 20px; /* Add margin at the top */
    margin-bottom: 0px;
}

.recommended-courses-topic {
    color: #bb2626; /* Change topic color */
    margin-bottom: 10px; /* Reduced margin at the bottom */
    text-align: center; /* Center align text */
}

.slick-slider {
    margin: 0 -15px; /* Negative margin to remove extra space */
}

.slick-slide {
    padding: 0 15px; /* Add padding to slides */
}

.slick-arrow {
    color: #fff; /* White color for arrows */
    z-index: 1; /* Ensure arrows appear above slides */
}

.slick-arrow:hover {
    color: #007bff; /* Change arrow color on hover */
}

.slick-prev {
    left: -30px; /* Position the left arrow */
}

.slick-next {
    right: -30px; /* Position the right arrow */
}
